body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #111;
}

.heart {
    width: 100px;
    height: 100px;
    position: relative;
    animation: sparkling 2s infinite;
}

.heart::before,.heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: #FF94C2;
}

.heart::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes sparkling {
    0%, 100% {
        transform: scale(2);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.6;
    }
}
